.text_light {
  color: #B9BFCD !important;
}
.wa {
  width: auto !important;
}
.bg_light {
  background-color: #F7F7F7 !important;
}
.text_smaller {
  color: #B9BFCD !important;
  font-size: 12px !important;
}
.text_small {
  font-size: 13px !important;
}
.card_warning {
  background-color: #FFF1DD !important;
}
.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky !important;
  top: 0 !important;
  background-color: #fff;
}
.collapsed {
  width: 100px;
}
.uncollapsed {
  width: 240px;
}
.list-group-item {
  border: 0 !important;
}
.toggleBtn {
  position: relative;
  margin-top: 30px !important;
  align-self: flex-end !important;
  margin-right: -25px !important;
}
.list-group-item:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240) !important;
}
.noHover:hover {
  text-decoration: none !important;
}
.bg_secondary {
  background-color: rgb(240, 240, 240) !important;
  color: #F7F7F7 !important;
}